@*@model CourseShop.Core.Entities.Course

<h3>Add Course</h3>
<form method="post" action="Add">
    <div class="row" style="display:none">
        <div class="col s3">
            Course Id
        </div>
        <div class="col s9">
            <input name="Id" type="text" value="@Model.Id" />
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            Course Name
        </div>
        <div class="col s9">
            <input name="Name" type="text" value="@Model.Name" />
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            Course Description
        </div>
        <div class="col s9">
            <input name="Description" type="text" value="@Model.Description" />
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            Course Price
        </div>
        <div class="col s9">
            <input name="Price" type="text" value="@Model.Price" />
        </div>
    </div>
    <div class="row">
        <div class="col s3 offset-s6">
            <input type="submit" />
        </div>
    </div>
</form>*@