@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@foreach (var courseGroup in ViewBag.GroupedCourses)
{
    <div class="row">
        @foreach (var course in courseGroup)
        {
            <div class="col-lg-@ViewBag.GridColumnSize">
                <a class="text-decoration-none" asp-controller="Course" asp-action="Index" asp-route-id="@course.CourseId">
                    <div class="card">
                        <img src="data:image/jpg;base64,@course.Base64Images[0]" class="card-img-top" />
                        <div class="card-body">
                            <div class="card-title">@course.Title</div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}