@model CourseShop.Core.Business.ViewModels.AccountViewModel

<div class="row">
    <div class="col-sm-6">
        First name:
    </div>
    <div class="col-sm-6">
        @Model.FirstName
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        Last name:
    </div>
    <div class="col-sm-6">
        @Model.LastName
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        Email:
    </div>
    <div class="col-sm-6">
        @Model.Email
    </div>
</div>

<div class="col-sm-3 offset-9">
    <a href="#" class="btn btn-primary">Edit profile</a>
</div>