@*@model CourseShop.Core.Business.ViewModels.CourseIndexViewModel

    <div class="carousel">
        @foreach (var course in Model.Courses)
        {
            <a class="carousel-item" href="/Course?courseId=@course.Id"><img src="@course.ThumbnailPath"></a>
        }
    </div>*@